.votes_display_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user_details {
  display: flex;
  gap: 20px;
  align-items: center;
}

.user_details .user_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user_details .username {
  font-weight: 500;
  font-size: 14px;
}

.votes_display_item .votes_text {
  font-size: 16px;
  font-weight: 600;
}