.App {
  text-align: center;
}

.votes-details {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.votes-details .votes-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.votes-details .votes-details__header .votes-details__header-text {
  font-size: 18px;
  font-weight: 600;
}

.votes-details .votes-details__votes-item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}